body {
    background-color: rgb(45, 45, 45);
    font-family: "inter", sans-serif;
    background-image: url(/planetlogo.svg);
    background-repeat: no-repeat;
    background-size: 180px;
    background-position: center;
    height: 150px;
}

.header {
    margin: 30px;
    font-size: 20px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    color: antiquewhite;
}

.nav {
    padding: 40px;
}

.about {
    margin: 15px;
    text-align: left;
    max-width: 40%;
}

.about {
    margin-left: 28%;
    margin-top: 140px;
    padding: 40px;
    padding-right: 10px;
    color: antiquewhite;
    background-color: rgb(78, 78, 78);
    border-radius: 20px;
}

.footer {
    margin: 50px;
}

.homepage {
    text-align: center;
    margin-top: 100px;
    color: rgb(18, 18, 18);
    font-weight: 300;
}

.info {
    padding: 100px;
    background-color: rgb(220, 220, 220);
    border-radius: 15px;
    margin: 8%;
}

.welcome {
    height: 150px;
}

.button {
    padding: 17px;
    border-radius: 10px;
}

.heading {
    font-size: 60px;
    color: rgb(199, 199, 199);
}

a {
    color: antiquewhite;
    text-decoration: none;
    padding: 20px;
}