{{ define "main" }}
<div class="container">
        {{ .Content }}
        <div class="homepage">
                <h2 class="heading"> Our Starships, Your Odyssey.</h2>
                <div class="info">
                        <div class="welcome">
                                <h2>Welcome to Stellar Forge. </h2>
                                <p>Buy your own starship today.</p>
                        </div>
                        <button class="button">Learn more</button>
                </div>
        </div>
</div>
{{ end }}